<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title> CRUD Node js </title>
    <link rel="stylesheet"
    href="https://stackpatch.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWEphJiwGPXrljddIhOegiuljddIhOegiulFw05qRGvFXOdJZ4"
     crossoring= "anonymus">

  </head>
  
  <body>